/* this css file will only style the homepage of our site */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

h2 {
  color: #21418c;
}

h3 {
  font-size: large;
  margin-left: 40px;
  padding-bottom: 1px;
}

.navbar-light .navbar-brand {
  color: rgb(40 43 57 / 90%);
  font-size: 2rem;
}

body {
  background-color: #a080cf;
} 

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

h2, p, ul {
  margin: 20px;
}

i {
  margin-left: 40px;
  padding-top: 1px;
}

img {
  border: solid 3px white;
  border-radius: 5px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  color: #000000b3;
  background-color: #deace3;
  border-color: #736886;
  padding: 3px;
  border-width: 1.5px;
}

div a {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.left {
  flex-basis: 50%;
}

.right {
  flex-basis: 50%;
}

.side-by-side {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.summary-vid {
  width: 75%;
  height: auto;
  display: block;
  margin: auto;
}

#video {
  background-color: rgba(0, 0, 0, 0.767);
}

.minor-section {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 15px;
  display: block;
  margin: auto;
}

a {
  margin-left: 20px;
  padding-bottom: 40px;
  color: purple;
}

#selfie {
  border-radius: 50%;
  border: solid 3px white;
}